*{
    overflow: hidden;
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(119, 141, 153);
}
.border{
    position: absolute;
    border: 8px solid darkmagenta;
    width: 92vh;
    height: 92vh;
    top: 3vh;
    left: calc(50vw - 46vh)
}
.snake{
    --xPos: 0;
    --yPos: 0;
    background-color: yellowgreen;
    position: absolute;
    width: 3vh;
    height: 3vh;
    top: calc(var(--yPos) * 3vh + 50vh);
    left: calc(var(--xPos) * 3vh + 50vw);
    transform: translate(-33%, -33%);
}
.apple{
    --xPos: -50;
    --yPos: -50;
    background-color: red;
    position: absolute;
    width: 3vh;
    height: 3vh;
    top: calc(var(--yPos) * 3vh + 50vh);
    left: calc(var(--xPos) * 3vh + 50vw);
    transform: translate(-33%, -33%);
}
.gameOverBox{
    position: absolute;
    top: 37vh;
    left: 42vw;
    width: 20vw;
    height: 20vh;
}
.gameOverText{
    font-size: 48;
    color: orangered;
}