.game {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}

#gorn {
  width: 50px;
  height: 50px;
  background-image: url("./gjumpassets/Sprite-Gornandkirk2.gif");
  background-size: 50px 50px;
  position: relative;
  top: 157px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#rock {
  width: 50px;
  height: 50px;
  position: relative;
  top: 108px;
  left: 580px;

  background-image: url("./gjumpassets/Sprite-Gornflipped.gif");
  background-size: 50px 50px;

  animation: block 1.5s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}

body {
  background: gray;
  font-size: 25px;
}

#js_timer {
  text-aligh: center;
}

#timer{

  
  color: red ;
  width: 100px;
  margin : 50 px auto;
}